body {
  color: #313131;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  background: #f4f4f6;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.status {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 20;
}

.title {
  font-size: 2.78em;
  font-weight: 300;
  line-height: 1.4;
  padding-left: 10px;
  padding-right: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 40px;
}

.item {
  display: flex;
  position: relative;
  margin: 5px;
  border: 1px solid #ededf0;
  border-bottom: 1px solid #dcdce0;
  background-color: #fff;
  flex: 1 1 50%;
}
@media (min-width: 720px) {
  .item {
    flex: 1 1 30%;
  }
}

.item__fake-link {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.item__fake-link:hover + .item__title {
  color: #43aea8;
}

.item__content {
  display: block;
  position: relative;
  padding: 0 0 40px;
  transition: opacity .2s ease-out;
  width: 100%;
  overflow: hidden;
}

.item__title {
  font-size: 1.46154em;
  padding: .7em;
  display: block;
  color: #313131;
  font-weight: 600;
  line-height: 1.2;
  transition: color .1s linear;
}

.item__time {
  padding: 0 1em .5em 1em;
  color: #999;
  font-size: 12px;
}

.item__excerpt {
  display: none;
  font-size: 1em;
  line-height: 1.45;
  padding: .5em 1em 0;
}
@media (min-width: 720px) {
  .item__excerpt {
    display: block;
  }
}

.item__link {
  position: absolute;
  bottom: .7em;
  left: 1em;
  right: 90px;
  color: #999;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 10;
}

.item__set-read {
  z-index: 10;
  position: absolute;
  bottom: .7em;
  right: 1em;
  color: #999;
  font-size: 12px;
}
.item__link:hover,
.item__set-read:hover {
  color: #313131;
}

.item__favourite {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  transition: box-shadow .1s linear;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  z-index: 10;
}
.item__favourite[data-favourite="true"] {
  background: yellow;
}
.item__favourite:hover {
  box-shadow: 0 2px 1px rgba(0,0,0,.1);
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.user-name {
  color: #9f9f9f;
  padding: 10px;
}

.menu {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}
@media (min-width: 720px) {
  .menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.menu__item {
  margin: 10px;
}
.menu__link {
  color: #313131;
  font-weight: bold;
  font-size: 1.2em;
}
.menu__link:hover {
  color: #50bcb6;
}
.menu__link--active {
  color: #50bcb6;
  cursor: default;
}
