:root {
    --page-width: 1200px;
    --grid-gutter: 20px;
    --base-font-size: 13px;
    --base-line-height: calc(18px / var(--base-font-size));

    --white: #fff;
    --white-rgb: 255, 255, 255;
    --black: #000;
    --black-rgb: 0, 0, 0;
    --black-l: #313131;
    --yellow: yellow;
    --red: #d13644;
    --red-l: #ee4256;
    --red-m: #d3505a;
    --grey: #9f9f9f;
    --grey-rgb: 244, 244, 244;
    --grey-l: #f4f4f6;
    --grey-m: #ededf0;
    --grey-d: #dcdce0;
    --green: #43aea8;
    --green-l: #50bcb6;
    --green-d: #4CAF50;

    --text-color: var(--black-l);
    --text-light: var(--grey);
    --body-bg: var(--grey-l);
    --border-light: var(--grey-m);
    --border-dark: var(--grey-d);
    --link-hover: var(--green);
    --menu-hover: var(--green-l);
}

* {
    box-sizing: border-box;
}

html {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
}

body {
    display: block;
    color: var(--text-color);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    background: var(--body-bg);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.scroll-disabled {
  overflow-y: scroll;
  position: fixed;
  width: 100%;
}

body.scroll-disabled--hide-scrollbar {
  overflow-y: hidden;
}

a {
    text-decoration: none;
}

.container {
    max-width: var(--page-width);
    margin: 0 auto;
}

.icon {
    height: 1em;
    width: 1em;
    fill: currentColor;
}

.icon--middle {
    vertical-align: middle;
}

.icon--bigger {
    height: 1.2em;
    width: 1.2em;
}

.status {
    position: fixed;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 20;
}

@media (min-width: 850px) {
    .status {
        top: 15px;
    }
}

/* HEADER */
.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__logo {
    height: auto;
    width: 25px;
}

.header__username {
    color: var(--text-light);
    padding: 0 10px;
}

.header__title {
    font-size: 2em;
    font-weight: 200;
    line-height: 1.4;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 850px) {
    .header__title {
        font-size: 2.78em;
    }
}

.header__count {
    font-size: .8em;
    color: var(--text-light);
}

@media (min-width: 850px) {
    .header__count {
        font-size: .6em;
    }
}

.header__right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: var(--grid-gutter) 0;
}

@media (min-width: 720px) {
    .header__right {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* MENU */
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

@media (min-width: 480px) {
    .menu {
        width: auto;
    }
}

@media (min-width: 850px) {
    .menu {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.menu__item {
    margin: 10px;
}

.menu__link {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.2em;
}

.menu__link:hover {
    color: var(--menu-hover);
}

.menu__link.is-active {
    color: var(--menu-hover);
    cursor: default;
}

/* MESSAGE */
.message {
    margin-top: 5em;
    margin-bottom: 5em;
    text-align: center;
}

.message--padding-small {
    margin-top: 0;
}

.message__text {
    font-size: 1.8em;
    color: var(--text-light);
    padding: 1em;
}

.message--padding-small .message__text {
    padding: 0;
}

.message__text--text-color {
    color: var(--text-color);
}

/* LIST */
.list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 10px 0 40px;
}

.list--trending {
    margin-bottom: 10px;
}

/* SECTION-TITLE */
.section-title {
    padding: 0 calc(var(--grid-gutter) / 2);
    margin: calc(var(--grid-gutter) / 2) 0;
}

.section-title__header {
    text-transform: uppercase;
}

.section-title__link {
    color: var(--text-light);
    font-weight: 400;
    font-size: .9em;
    padding-left: 10px;
}

.section-title__link:hover {
    color: var(--text-color);
}

/* SEPARATOR */
.separator {
    margin: 0;
    border: 0;
    border-top: 1px solid var(--border-dark);
}

.separator--small {
    margin-top: 2em;
    margin-bottom: 2em;
}

.separator--content {
    margin-left: calc(var(--grid-gutter) / 2);
    margin-right: calc(var(--grid-gutter) / 2);
}

/* ITEM */
.item {
    display: flex;
    position: relative;
    flex-grow: 1;
    width: 100%;
}

@media (min-width: 720px) {
    .item {
        max-width: calc(100% / 3);
    }
}

@media (min-width: 1024px) {
    .item {
        max-width: calc(100% / 4);
    }
}

.item__content {
    display: block;
    position: relative;
    border: 1px solid var(--border-light);
    background-color: var(--white);
    padding: 0 0 4em;
    transition: opacity .2s ease-out;
    width: 100%;
    overflow: hidden;
}

.item--trending .item__content {
    padding-bottom: 6em;
    transition: box-shadow 150ms, transform 150ms;
}

.item--recommend .item__content {
    padding-bottom: 6em;
}

@media (min-width: 720px) {
    .item--trending .item__content {
        border: none;
        border-radius: 3px;
        box-shadow: 0 0 25px rgba(var(--black-rgb), .2);
    }

    .item--trending:hover .item__content {
        box-shadow: 0 0 5px 1px rgba(var(--black-rgb), .25);
        transform: translateY(1px);
    }

    .item__content {
        margin: calc(var(--grid-gutter) / 2);
        border-bottom: 1px solid var(--border-dark);
    }
}

.item--empty {
    background: transparent;
    border-color: transparent;
}

.item__link-fake {
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.item__link-fake:hover ~ .item__title {
    color: var(--link-hover);
}

.item__title {
    font-size: 1.46154em;
    padding: .7em;
    display: block;
    color: var(--text-color);
    font-weight: 600;
    line-height: 1.2;
    transition: color .1s linear;
    word-break: break-word;
}

.item--trending .item__title {
    font-size: 1.25em;
}

.item__time {
    padding: 0 1em .5em 1em;
    color: var(--text-light);
    font-size: 12px;
}

.item__excerpt {
    display: none;
    font-size: 1em;
    line-height: 1.45;
    padding: .5em 1em 0;
}

@media (min-width: 720px) {
    .item__excerpt {
        display: block;
    }
}

.item__excerpt--image {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 72%;
    max-height: 200px;
    overflow: hidden;
}

.item__link {
    position: absolute;
    bottom: .7em;
    left: 1em;
    right: 90px;
    color: var(--text-light);
    font-size: 12px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 10;
}

.item__link-source {
    position: absolute;
    bottom: 60px;
    left: 1em;
    right: 1em;
    color: var(--text-light);
    font-size: 12px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 10;
}

.item__link-save {
    position: absolute;
    left: 1em;
    right: 1em;
    bottom: 1em;
    padding-top: 1em;
    border-top: 1px solid var(--border-light);
    color: var(--text-light);
    z-index: 10;
}

.item__link-save.is-saved:hover,
.item__link-save.is-saved {
    color: var(--red-l);
}

.item__link-text-child {
    pointer-events: none;
}

.item__link-svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.item__set-read {
    z-index: 10;
    position: absolute;
    bottom: .7em;
    right: 1em;
    color: var(--text-light);
    font-size: 12px;
    padding-top: .7em;
}

.item__link-save:hover,
.item__link:hover,
.item__link-source:hover,
.item__set-read:hover,
.item__delete:hover,
.item__pocket-link:hover {
    color: var(--text-color);
}

.item__delete {
    position: absolute;
    bottom: 2.2em;
    right: 1em;
    color: var(--text-light);
    font-size: 12px;
    z-index: 10;
}

.item__favourite {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    transition: box-shadow .1s linear;
    box-shadow: 0 1px 1px rgba(var(--black-rgb), .1);
    z-index: 10;
}

.item__favourite[data-favourite="true"] {
    background: var(--yellow);
}

.item__favourite:hover {
    box-shadow: 0 2px 1px rgba(var(--black-rgb), .1);
}

.item__image {
    position: absolute;
    width: 100%;
    height: auto;
}

.item__background {
    display: none;
    background-position: center center;
    background-size: cover;
    height: 144px;
    width: 100%;
}

@media (min-width: 720px) {
    .item__background {
        display: block;
    }
}

.item__pocket-link {
    position: absolute;
    left: 1em;
    bottom: 2.2em;
    color: var(--text-light);
    font-size: 12px;
    z-index: 10;
}

/* BUTTON */
.btn {
    background-repeat: repeat-x;
    background-color: var(--red-m);
    background-image: linear-gradient(to bottom, var(--red-l) 0, var(--red-m) 100%);
    border: 1px solid var(--red);
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(var(--white-rgb), .4);
    color: var(--white);
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 11px 45px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(var(--black-rgb), .2);
    transition: background-position .1s linear;
    width: auto;
    cursor: pointer;
}

.btn:hover {
    background-position: 0 -15px;
    color: var(--white);
    text-decoration: none;
}

.btn:disabled {
    opacity: .7;
    cursor: default;
}

.btn:disabled:hover {
    background-position: 0 0;
}

.btn--login {
    min-width: 12.125em;
    padding: .8em 1.625em;
    box-sizing: content-box;
}

.btn--link {
    background: none;
    padding: 0;
    box-shadow: none;
    border: 0;
    vertical-align: middle;
    color: var(--text-light);
    text-shadow: none;
}

.btn--link:hover {
    color: var(--text-color);
}

.btn > svg {
  pointer-events: none;
}

.btn + .btn {
    margin-left: 10px;
}

.btn.is-syncing {
    animation: rotate 2s infinite linear;
}
.btn.is-synced {
    color: var(--green-d);
    animation: pop .5s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* BUTTON-GROUP */
.btn-group {
    display: flex;
    align-items: center;
}

.btn-group .btn:not(:first-child) {
    margin-left: var(--grid-gutter);
}

/* SENTINEL */
.sentinel {
    height: 1px;
    width: 1px;
}

/* RAINBOW */
.rainbow {
    position: fixed;
    left: 0;
    top: 0;
    height: 2px;
    width: 100%;
    z-index: 200;
    background: linear-gradient(90deg,#AFECC3 0,#84C3C0 34%,#D45A68 67%,#ECBF63 100%);
}

/* MODAL */
.modal-container {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    overflow: auto;
    overflow-y: scroll;

    padding: 10px 10px 0;
    background: rgba(var(--grey-rgb), .8);
}

.modal-container.is-visible {
    display: flex;
    flex-direction: column;
}

.modal-container .modal {
    display: block;
    pointer-events: auto;
}

.modal-container__inner {
    max-width: calc(var(--page-width) / 2);
    width: 100%;
    margin: auto;
    align-self: center;
}

.modal {
    display: none;
    position: relative;
    padding: calc(var(--grid-gutter) * 2) var(--grid-gutter);
    background: var(--white);
    box-shadow: 0 2px 5px 0 rgba(var(--black-rgb), .1);
    margin-bottom: 10px;
}

.modal__title {
    font-size: 1.46154em;
    font-weight: 600;
    line-height: 1.2;
    padding: .7em 0;
    margin: 0 0 var(--grid-gutter);
}

.modal__footer {
    display: flex;
    justify-content: flex-end;
}

.modal__close {
    position: absolute;
    top: var(--grid-gutter);
    right: var(--grid-gutter);
    color: var(--text-color);
}

.modal__close:hover {
    color: var(--text-light);
}

/* INPUT */
.textfield {
    margin: 0 0 var(--grid-gutter);
}

.textfield__input {
    display: block;
    border: 1px solid var(--border-dark);
    border-radius: 4px;
    font-size: 1.2em;
    padding: 5px 10px;
    min-width: 200px;
    width: 100%;
}

/* SEARCH */
.search {
    display: none;
    position: absolute;
    left: calc(var(--grid-gutter) / 2);
    right: calc(var(--grid-gutter) / 2);
}

@media (min-width: 720px) {
    .search {
        left: auto;
        right: calc(100% - 52px);
    }
}

.search.is-active {
    display: block;
}

.search__button {
    position: relative;
    z-index: 1;
}

.search__button.is-disabled {
    pointer-events: none;
    z-index: -1;
}

@media (min-width: 720px) {
    .search__button.is-disabled {
        z-index: 1;
    }
}

/* Extends .textfield__input */
.search__textfield {
    position: relative;
    margin-bottom: 0;
}

.search__input {
    padding-right: 25px;
}

.search__input::placeholder {
    font-size: 1rem;
}

.search__clear {
    position: absolute;
    right: 0;
    bottom: -15px;
    margin-top: 3px;
}

.search__clear-link {
    font-size: .8em;
}

/* COLLAPSE */
.collapse-toggle {
    color: var(--text-light);
}

.collapse-toggle:hover {
    color: var(--text-color);
}

.collapse-toggle__icon {
    transition: transform 150ms;
    pointer-events: none;
    margin-right: 5px;
    transform: rotate(-90deg);
}

.collapse-toggle.is-active .collapse-toggle__icon {
    transform: rotate(0);
}

.collapse {
    display: none;
}

.collapse.is-open {
    display: block;
}

.hidden {
    display: none;
}

.text-extra-small {
    font-size: small;
    color: var(--text-light);
}